/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.demo-container {
    box-sizing: border-box;
    width: 100%;
    height: 450px;
    padding: 20px 15px 15px 15px;
    margin: 15px auto 30px auto;
    border: 1px solid #DDD;
    background: white;
    background: linear-gradient(#F6F6F6 0, white 50px);
    background: -o-linear-gradient(#F6F6F6 0, white 50px);
    background: -ms-linear-gradient(#F6F6F6 0, white 50px);
    background: -moz-linear-gradient(#F6F6F6 0, white 50px);
    background: -webkit-linear-gradient(#F6F6F6 0, white 50px);
    box-shadow: 0 3px 10px rgba(0,0,0,0.15);
    -o-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
    -ms-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
    -moz-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
    -webkit-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
}
.demo-placeholder {
    width: 100%;
    height: 100%;
    font-size: 14px;
    line-height: 1.2em;
}
.experiment canvas {
    width:100%;
}

#dropbox {
    position: relative;
    margin-bottom: 25px;
    padding: 15px;
    text-align: center;
    font-size: 25px;
    color: #aaa;
    border: #ccc 2px dashed;
    border-radius: 15px;
}
#dropbox.hover {
    border-color: #f00;
}
#form-upload {
    margin: 75px 0;
}
#form-upload #file-input {
    visibility: hidden;
    width: 0;
    height; 0;
}

#dropbox #progress {
    width: 50%;
    margin: 75px 0;
    margin-left: auto;
    margin-right: auto;
}

#results .source-img {
    margin-bottom: 15px;
}
#results .source-img img {
    max-height: 250px;
}
#results .detected-faces {
    color: #333;
    font-size: 20px;
}
#results .detected-faces img {
    height: 50px;
    margin: 5px;
}

#actions {
    text-align: center;
}

.alert .close {
    font-size: 13px;
}
.alert p {
    margin-bottom: 0;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}

#dropzone {
    min-height:200px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    border: 2px dashed black;
    font-family: 'Molengo', Helvetica, sans-serif;
    text-align: center;
    margin-bottom:20px;
}

#dropzone.rounded {
    border: 2px dashed #dd0000;
}

#dropzone p {
    margin-top:40px;
    font-size:25px;
    color:#aaa;
}


#dir-tree, 
#directory-list {
  margin-top: 7px;
}
#directory-list {
  font-size: 18px;
  display: block;
  height: 125px;
  width: 100%;
  box-sizing: border-box;
}
button, input[type='submit'] {
  font: 18px Futura, 'Century Gothic', AppleGothic, Arial, sans-serif;
  background: -webkit-gradient(linear, 0% 40%, 0% 70%, from(#F9F9F9), to(#E3E3E3));
  border: 1px solid #ccc;
  border-radius: 3px;
  margin: 0 8px 0 0;
  color: black;
  padding: 4px 8px 3px;
  outline: none;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  cursor: pointer;
}

button:hover,
input[type='submit']:hover {
  border: 1px solid #939393;
}

button:active,
input[type='submit']:active {
  background: -webkit-gradient(linear, 0% 40%, 0% 70%, from(#E3E3E3), to(#F9F9F9));
}
input[type='text'], input[type='number'], textarea {
  font-size: 105%;
  padding: 15px;
  border-radius: 8px;
  border: 1px solid #ccc;
  -webkit-box-shadow: 0 3px 10px #ccc inset;
  outline: none;
}
input[type="file"].hidden-input {
  visibility: hidden;
  width: 0;
  height: 0;
  position: absolute;
}
#file-select {
  color: #08233e;
  padding: 3px 10px;
  background: #ffcc00 -webkit-linear-gradient(top, rgba(255,255,255,0.3) 50%, #ffcc00 50%, #ffcc00);
  background: #ffcc00 -moz-linear-gradient(top, rgba(255,255,255,0.3) 50%, #ffcc00 50%, #ffcc00);
  border: 1px solid #ffcc00;
  border-radius: 7px;
  border-bottom: 1px solid #9f9f9f;
  -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.5);
  -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.5);
  box-shadow: inset 0 1px 0 rgba(255,255,255,0.5);
  cursor: pointer;
}

#file-select:hover {
  background: -webkit-linear-gradient(-90deg, #fff, #ffcc00);
  background: -moz-linear-gradient(-90deg, #fff, #ffcc00);
}

#file-select:active{
  position: relative;
  top: 2px;
}

#files { margin:2em 0 5em; width:400px; }
.tree,.tree ul,.tree li { list-style:none; margin:0; padding:0; zoom: 1; }
.tree ul { margin-left:8px; }
.tree li a { color:#555; padding:.1em 7px .1em 27px; display:block; text-decoration:none; border:1px dashed #fff; background:url(/img/file.gif) 5px 50% no-repeat; }
.tree li a.tree-parent { background:url(/img/folder-open.gif) 5px 50% no-repeat; }
.tree li a.tree-parent-collapsed { background:url(/img/folder.gif) 5px 50% no-repeat; }
.tree li a:hover,.tree li a.tree-parent:hover,.tree li a:focus,.tree li a.tree-parent:focus,.tree li a.tree-item-active { color:#000; border:1px solid#eee; background-color:#fafafa; -moz-border-radius:4px; -webkit-border-radius:4px; border-radius:4px; }
.tree li a:focus,.tree li a.tree-parent:focus,.tree li a.tree-item-active { border:1px solid #e2f3fb; background-color:#f2fafd; }
.tree ul.tree-group-collapsed { display:none; }

.videostream,#cssfilters-stream,#screenshot{width:307px;height:250px}.videostream,#cssfilters-stream{background:rgba(255,255,255,.5);border:1px solid #ccc}#screenshot{vertical-align:top}.blur{-webkit-filter:blur(3px);-moz-filter:blur(3px);-o-filter:blur(3px);-ms-filter:blur(3px);filter:blur(3px)}.brightness{-webkit-filter:brightness(5);-moz-filter:brightness(5);-o-filter:brightness(5);-ms-filter:brightness(5);filter:brightness(5)}.contrast{-webkit-filter:contrast(8);-moz-filter:contrast(8);-o-filter:contrast(8);-ms-filter:contrast(8);filter:contrast(8)}.hue-rotate{-webkit-filter:hue-rotate(90deg);-moz-filter:hue-rotate(90deg);-o-filter:hue-rotate(90deg);-ms-filter:hue-rotate(90deg);filter:hue-rotate(90deg)}.hue-rotate2{-webkit-filter:hue-rotate(180deg);-moz-filter:hue-rotate(180deg);-o-filter:hue-rotate(180deg);-ms-filter:hue-rotate(180deg);filter:hue-rotate(180deg)}.hue-rotate3{-webkit-filter:hue-rotate(270deg);-moz-filter:hue-rotate(270deg);-o-filter:hue-rotate(270deg);-ms-filter:hue-rotate(270deg);filter:hue-rotate(270deg)}.saturate{-webkit-filter:saturate(10);-moz-filter:saturate(10);-o-filter:saturate(10);-ms-filter:saturate(10);filter:saturate(10)}.grayscale{-webkit-filter:grayscale(1);-moz-filter:grayscale(1);-o-filter:grayscale(1);-ms-filter:grayscale(1);filter:grayscale(1)}.sepia{-webkit-filter:sepia(1);-moz-filter:sepia(1);-o-filter:sepia(1);-ms-filter:sepia(1);filter:sepia(1)}.invert{-webkit-filter:invert(1);-moz-filter: invert(1)
  -o-filter: invert(1)
  -ms-filter: invert(1)
  filter: invert(1)
}